<html>
    <head>
      {% if title %}
      <title>{{ title }} - Garment Tracker</title>
      {% else %}
      <title>Home</title>
      {% endif %}
    </head>
    <body>
        <div>
            K70 - Garment Tracker:
            <a href="{{ url_for('home_template') }}">Home</a>
            <a href="{{ url_for('move_in') }}">Move in</a>
            <a href="{{ url_for('move_out') }}">Move Out</a>
            <a href="{{ url_for('enter_new_garment') }}">Enter New Garment</a>
          </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>