<html>
    <head>
      {% if title %}
      <title>{{ title }} - Garment Tracker</title>
      {% else %}
      <title>Home</title>
      {% endif %}
    </head>
    <body>
        <div>
            K70 - Garment Tracker:
            <a href="{{ url_for('Home') }}">Home</a>
            <a href="{{ url_for('Incoming') }}">Incoming</a>
            <a href="{{ url_for('Outgoing') }}">Outgoing</a>
            <a href="{{ url_for('New_inventory') }}">New Inventory</a>
          </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>