{% extends "base.html" %}

{% block content %}
<div align="center" style="font-size:24px">
  <form autocomplete="off" action="/action" method="post">
    Scan Suit: <input type="text" name="suit_id"><br>
    <input type="submit" name="action" value="Check Out">
    <input type="submit" name="action" value="Check In">
    <input type="submit" name="action" value="Check History">
  </form>
</div>
<div align="center">
  <table border="1">
    <thead>
      <tr>
        <td>SUIT ID</td>
        <td>CHECK OUT TIME</td>
        <td>CHECK IN TIME</td>
      </tr>
    </thead>
    <tbody>{0}</tbody>
  </table>
</div>
{% endblock %}

