{% extends "base.html" %}

{% block content %}
<h1>Incoming</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    
    <dl>
        <p>{{ form.barcode.label }}</p>
        <div>{{ form.barcode(size=32) }}</div>
        <p>{{ form.Search }}</p>
        <p>{{ form.Incoming }}</p>
    </dl>
</form>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<table style="width:100%">
    <tr valign="top">
        <th>Barcode</th>
        <th>Item Type</th>
        <th>Item Size</th>
        <th>In Our Inventory</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.barcode }}</td><td>{{ item.item_type }}</td><td>{{ item.item_size }}</td><td>{{ item.status }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}