{% extends "base.html" %}

{% block content %}
<h1>Enter New Inventory</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% from "_formhelpers.html" import render_field %}
    <dl>
        {{ render_field(form.barcode) }}
        {{ render_field(form.type) }}
        {{ render_field(form.size) }}
    </dl>
    <p><input type="submit" value=Submit></p>
</form>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>

<table style="width:100%">
    <tr valign="top">
        <th>Barcode</th>
        <th>Item Type</th>
        <th>Item Size</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.barcode }}</td><td>{{ item.item_type }}</td><td>{{ item.item_size }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}