{% extends "base.html" %}

{% block content %}
<h1>Outgoing</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {% from "_formhelpers.html" import render_field %}
    <dl>
        <p>{{ render_field(form.barcode) }}</p>
        <p>{{ form.Search }}</p>
        <p>{{ form.Outgoing }}</p>
    </dl>
</form>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<table style="width:100%">
    <tr valign="top">
        <th>Barcode</th>
        <th>Item Type</th>
        <th>Item Size</th>
        <th>In our Inventory</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.barcode }}</td><td>{{ item.item_type }}</td><td>{{ item.item_size }}</td><td>{{ item.status }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}